{% include header.html %}

<div class="row">
    <div class="col-md-4 welcome-block join">
        <div>
            <h2>Join us</h2>
            <p>Ready to take the first step towards all the opportunities and benefits that the air cadets can offer you?</p>
            <a href="/join">Join the Air Cadets</a>
        </div>
    </div>

    <div class="col-md-4 welcome-block volunteer">
        <div>
            <h2>Volunteer with us</h2>
            <p>Over 20 and seeking a new challenge? Ready to develop skills, leadership qualities and gain qualifications too?</p>
            <a href="/adult-volunteer">Volunteer with us</a>
        </div>
    </div>

    <div class="col-md-4">
        Hello
    </div>
</div>

{{ content }}

{% include footer.html %}